/node_modules
/vendor
/public/hot
/public/storage
/public/js
/public/css
/storage/*.key
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env*
_ide_helper.php
sftp-config.json
cert
auth.json
storage/debugbar/
.DS_Store
delete
*.bk
deploy
Envoy.blade.php
docker/delete